/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded:300|Open+Sans+Condensed:300|Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded:600');

@font-face {
  font-family: "MaryAnn-Bold";
  src: url("MaryAnn-Bold.otf");
}
@font-face {
  font-family: "MaryAnn";
  src: url("MaryAnn.otf");
}


body {
  background-color: white;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-size: 18px;
  color: #444;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  background-color: #0c0c0c;
  width: 100%;
  padding: 30px 0;
  float: left;
  text-align: center;
  font-size: 20px;
}

.outerContainer {
  float: left;
  margin-top: 275px;
}

.mainTitle {
  color: #f06c00;
  margin-bottom: 5px;
  font-family: "MaryAnn-Bold", serif;
  font-size: 50px;
}

.brandTitle {
  color: #FFF;
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 40px;
  font-family: "MaryAnn", serif;

}

.courseName {
  color: #f06c00;
  margin-top: 0px;
  font-family: "MaryAnn", serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.yourInstructors {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

.instructorTitle {
  text-align: center;
  padding: 10px 0;
  margin: 10px 0;
}

.instructorDiv {
  background-color: #0c0c0c;
  padding: 2%;
  width: 43%;
  float: left;
  color: #F5F2EA;
  margin: 0 2%;
}

.instructorDiv.madeleine {
  margin-right: 1%;
}

.instructorDiv.pascale {
  margin-left: 1%;
}

.instructorDiv img {
  margin: 0 auto;
  height: auto;
  width: 25%;
  display: block;
  margin-top: 10px;
}

.instructorName {
  text-align: center;
  margin-bottom: 10px;
}

.instructorText {
  text-align: center;
  margin-top: 0;
  line-height: 1.5em;
  padding-left: 0;
}

.instructorText li {
  list-style: none;
}

.lessons {
  background-position: center;
  background-image: url('code-wallpapers.jpg');
  width: 100%;
  height: 333px;
  background-size: cover;
  float: left;
  display: block;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
  background-repeat: no-repeat;
    
}

.allLessons {
  width: 1065px;
  margin: 0 auto;
}

.lessonTitle {
  font-weight: 600;
}

.lessonInfo p {
  font-size: 20px;
}

.lessonInfo {
  border: 1px solid #1E232A;
  padding: 1%;
  width: 42%;
  float: left;
  margin: 2%;
}

.lessonInfo:nth-child(even) {
  margin-right: 0;
}

.lessonInfo:nth-child(odd) {
  margin-left: 0;
}

.lessonInfo p, .lessonInfo ul {
  margin-top: 0;
  margin-bottom: 5px;
}

.instagramDiv {
  width: 100%;
  float: left;
  margin-top: 20px;
}

.instagramImage {
  background-color: #0c0c0c;
  float: left;
  width: 28%;
  padding: 2%;
  margin-right: 2%;
  margin-bottom: 20px;
}

.instagramImage:nth-child(3n) {
  margin-right: 0;
}

.featureImage {
  background-position: center;
  background-image: url('header-2.jpg');
  width: 100%;
  height: 333px;
  background-size: contain;
  float: left;
  display: block;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain; 
}

.learn {
  background-color:  #f6f6f6;
  float: left;
  width: 100%;
  padding-bottom: 30px;
}

.allLearningCircles {
  width: 1065px;
  margin: 0 auto;
}

.learningCircle {
  border-radius: 100px;
  float: left;
  padding: 20px;
  text-align: center;
  height: 80px;
  width: 80px;
  display: table;
  margin: 0 2.5%;
  border: 2px solid #ff5100;
  background-color: #fff;
}

.learningCircle p {
  display: table-cell;
  vertical-align: middle;
}

